#alerts, #board, #turnIndicator, #pass-btn {
  z-index: 10;
}

#game {
  display: none;
  min-width: 360px;
  margin-right: 550px;
  vertical-align: middle;
  text-align: center;
}

#alerts {
  height: 40px;
  line-height: 40px;
}

#board {
  position: relative;
}

#table {
  position: absolute;
  top: 100px;
  left: 350px;
  z-index: 1;
  width: 700px;
  height: 500px;
  background-color: #e29742;
  border: solid 10px orange;
  border-radius: 20px;
}

.intersection {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  position: absolute;
  box-sizing: border-box;
  transition: all 0.3s;
}

.intersection:before {
  border-top: 2px #9a3637 solid;
  width: 40px;
  display: block;
  content: "";
  top: 18px;
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
}

.intersection:hover:before, .intersection:hover:after {
  border-color: red;
  color: red;
  transition: all 0.3s;
}

.intersection:after {
  border-left: 2px #000 solid;
  height: 40px;
  display: block;
  content: "";
  left: 18px;
  top: 0px;
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
}

.intersection.black {
  background-color: #427893;
  border: 2px solid white; 
}

.intersection.white {
  background-color: #f28e2e;
  border: 2px solid white; 
}

#turnIndicator {
  margin-top: 50px;
  margin-left: 80px;
}

#turnIndicator > div {
  width: 100px;
  height: 40px;
  box-sizing: border-box;
  float: left;
  transition: 0.5s ease-in-out;
}

#turnBlack {
  background-color: #427893;
}

#turnWhite {
  background-color: #f28e2e;
}

.activeTurn {
  box-shadow: 0px 0px 35px #9a3637;
}