#game {
  display: none;
  min-width: 360px;
  margin-right: 550px;
  text-align: center;
}

#board {
  position: relative;
  margin: auto;
  box-sizing: initial;
  margin-top: 50px;
  margin-left: 250px;
  height: 30px;
}

#table {
  position: absolute;
  top: 100px;
  left: 240px;
  z-index: 1;
  width: 980px;
  height: 600px;
  background-color: #e29742;
  border: solid 10px orange;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.intersection {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  position: absolute;
  box-sizing: border-box;
  transition: all 0.3s;
}

.intersection:before {
  border-top: 2px #9a3637 solid;
  width: 40px;
  display: block;
  content: "";
  top: 18px;
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
}

.intersection:hover:before, .intersection:hover:after {
  border-color: red;
  color: red;
  transition: all 0.3s;
}

.intersection:after {
  border-left: 2px #000 solid;
  height: 40px;
  display: block;
  content: "";
  left: 18px;
  top: 0px;
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
}

.intersection.black {
  background-color: #427893;
  /*border: 2px solid white; */
  /*box-shadow: 0px 0px 10px black;*/
}

.intersection.white {
  background-color: #f28e2e;
  /*border: 2px solid white; */
}

#turnIndicator {
  margin: 20px;
}

#turnIndicator > div {
  width: 100px;
  height: 40px;
  box-sizing: border-box;
  float: left;
  transition: 0.5s ease-in-out;
}

#turnBlack {
  background-color: #427893;
}

#turnWhite {
  background-color: #f28e2e;
}

.activeTurn {
  box-shadow: 0px 0px 35px #9a3637;
}

#alerts {
  box-sizing: border-box;
  position: absolute;
  top: 50px;
  left: 20px;
  width: 250px;
  height: 360px;
  margin-right: 20px;
  /*border: 4px solid red;*/
  line-height: 30px;
  font-size: 20px;
  color: white;
}

.alert {
  background: url('../imgs/alertbg.svg') 5% center no-repeat, #973739;
  background-size: 20%;
  height: 50px;
  font-size: 16px;
  padding: 10px;
  margin: 5px auto;
}

#alerts, #board, #hud, #turnIndicator, #pass-btn {
  z-index: 10;
}

#hud {
  width: 250px;
  height: 360px;
  margin-left: 20px;
  border: 4px solid red;
}

#alerts, #pass-btn, #board, #hud {
  display: inline-block;
}