#game {
  display: none;
  min-width: 360px;
  margin-right: 550px;
  text-align: center;
}

#board {
  position: relative;
  margin: auto;
  box-sizing: initial;
  margin-top: 60px;
  margin-left: 250px;
  height: 30px;
}

#table {
  position: absolute;
  top: 200px;
  left: 240px;
  z-index: 1;
  width: 980px;
  height: 520px;
  background: url('../imgs/tabledesign.png') center center  no-repeat;
  background-size: contain;
  /*border: solid 10px orange;*/
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  font-family: 'sofiaprolight', sans-serif;
}

.intersection {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  position: absolute;
  box-sizing: border-box;
  transition: all 0.3s;
}

.hoshi {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  position: absolute;
  box-sizing: border-box;
  transition: all 0.3s;
}

.intersection:before {
  border-top: 2px #000 solid;
  width: 40px;
  display: block;
  content: "";
  top: 18px;
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
}

.intersection:hover:before, .intersection:hover:after {
  border-color: red;
  color: red;
  transition: all 0.3s;
}

.intersection:after {
  border-left: 2px #000 solid;
  height: 40px;
  display: block;
  content: "";
  left: 18px;
  top: 0px;
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
}

.intersection.black {
  background-color: #9C3637;
}

.intersection.white {
  background-color: #427893;
}

#turnIndicator {
  width: 100%;
}

#turnIndicator > div {
  width: 50%;
  height: 40px;
  box-sizing: border-box;
  float: left;
  transition: 0.5s ease-in-out;
}

#turnBlack {
  background-color: #9C3637;
  border-bottom-left-radius: 10px;
}

#turnWhite {
  background-color: #427893;
  border-bottom-right-radius: 10px;
}

#alerts {
  box-sizing: border-box;
  position: absolute;
  top: 10px;
  left: 20px;
  width: 250px;
  height: 360px;
  margin-right: 20px;
  line-height: 30px;
  font-size: 20px;
  color: white;
  transition: all 0.3s;
}

.alert {
  line-height: 20px;
  background: url('../imgs/alertbg.svg') 5% center no-repeat, #973739;
  background-size: 20%;
  height: auto;
  min-height: 50px;
  width: 100%;
  font-size: 16px;
  padding: 10px 15px 10px 32px;
  margin: 0 auto 10px;
  text-align: right;
}

.alert a {
  font-family: 'chinesetakeaway';
}
.alert a:hover {
  cursor: pointer;
}

#alerts, #board, #hud, #turnIndicator, #pass-btn {
  z-index: 10;
}

#hud {
  width: 250px;
  height: 360px;
  margin-left: 20px;
}

#alerts, #pass-btn, #board, #hud {
  display: inline-block;
}

#pass-btn {
  width: 100%;
  height: 44px;
  font-size: 20px;
  padding: 6px;
  transition: all 0.3s;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#pass-btn:hover {
  cursor: pointer;
}

.passRed {
  color: white;
  border: 4px solid #9C3637;
  background-color: #9C3637;
}

.passRed:hover {
  color: #9C3637;
  background-color: white;
}

.passBlue {
  color: white;
  border: 4px solid #427893;
  background-color: #427893;
}

.passBlue:hover {
  color: #427893;
  background-color: white;
}