$stone-size: 60px;

h1 {
	float: left;
	margin-left: 30px;
}
#boardContainer {
	line-height: 0;
	max-width: 760px;
	margin: 50px auto;
	// border: 4px dotted orange;
	.boardSquare {
		display: inline-block;
		box-sizing: border-box;
		height: $stone-size;
		width:$stone-size;
		margin: 0; 
		background: url('../assets/intersection.svg');
		background-size: contain; 
		// border: 1px solid red;
		border-radius: 50%;
		transition: all 0.1s;
		&:hover {
			background-color: red;
		}
	}
	.stone {
		width: $stone-size;
		height: $stone-size;
		position: absolute;
		top: 0;
		left: 0;
		transition: all 0.3s;
		display: inline-block;
	}
	.blackStone {
		background-color: black;
		border-radius: 50%;
	}
	.whiteStone {
		background-color: lightgrey;
		border-radius: 50%;
	}
}