h1 {
	float: left;
	margin-left: 30px;
}
#boardContainer {
	line-height: 0;
	max-width: 760px;
	margin: 50px auto;
	// border: 4px dotted orange;
	.boardSquare {
		display: inline-block;
		box-sizing: border-box;
		height: 40px;
		width: 40px;
		margin: 0; 
		background: url('../assets/intersection.svg');
		background-size: contain; 
		// border: 1px solid red;
		transition: all 0.1s;
		&:hover {
			background-color: red;
		}
	}
}