/* line 1, /Users/sebastiendancermichel/Documents/HETIC/Algorithmique/HETIC-P2019-Go/css/main.scss */
h1 {
  float: left;
  margin-left: 30px; }

/* line 5, /Users/sebastiendancermichel/Documents/HETIC/Algorithmique/HETIC-P2019-Go/css/main.scss */
#boardContainer {
  line-height: 0;
  max-width: 760px;
  margin: 50px auto; }
  /* line 10, /Users/sebastiendancermichel/Documents/HETIC/Algorithmique/HETIC-P2019-Go/css/main.scss */
  #boardContainer .boardSquare {
    display: inline-block;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    margin: 0;
    background: url('../assets/intersection.svg');
    background-size: contain;
    transition: all 0.1s; }
    /* line 20, /Users/sebastiendancermichel/Documents/HETIC/Algorithmique/HETIC-P2019-Go/css/main.scss */
    #boardContainer .boardSquare:hover {
      background-color: red; }
