h1 {
  float: left;
  margin-left: 30px;
}

#boardContainer {
  line-height: 0;
  max-width: 540px;
  max-height: 540px;
  margin: 50px auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
#boardContainer .boardSquare {
  display: inline-block;
  box-sizing: border-box;
  height: 60px;
  width: 60px;
  margin: 0;
  background: url("../assets/intersection.svg");
  background-size: contain;
  border-radius: 50%;
  transition: all 0.1s;
}
#boardContainer .boardSquare:hover {
  background-color: red;
}
#boardContainer .hoshi {
  background: url("../assets/hoshi.svg");
  background-size: contain;
}
#boardContainer .stone {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
  display: inline-block;
}
#boardContainer .blackStone {
  background-color: black;
  border-radius: 50%;
}
#boardContainer .whiteStone {
  background-color: lightgrey;
  border-radius: 50%;
}
