$stone-size: 60px;
$intersection: url('../assets/intersection.svg');
$hoshi: url('../assets/hoshi.svg');
$container-size: 540px; //540px for 9, 780px for 13, 1140px for 19 // TEMP

h1 {
  float: left;
  margin-left: 30px;
}
#boardContainer {
  line-height: 0;
  max-width: $container-size;
  max-height: $container-size;
  margin: 50px auto;
  display: flex;
  flex-flow: row wrap;
  // border: 4px dotted orange;
  .boardSquare {
    display: inline-block;
    box-sizing: border-box;
    height: $stone-size;
    width:$stone-size;
    margin: 0; 
    background: $intersection;
    background-size: contain; 
    // border: 1px solid red;
    border-radius: 50%;
    transition: all 0.1s;
    &:hover {
      background-color: red;
    }
  }
  .hoshi {
    background: $hoshi;
    background-size: contain; 
  }
  .stone {
    width: $stone-size;
    height: $stone-size;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
    display: inline-block;
  }
  .blackStone {
    background-color: black;
    border-radius: 50%;
  }
  .whiteStone {
    background-color: lightgrey;
    border-radius: 50%;
  }
}