star.book {
  transition: opacity 0.4s 0.2s;
  transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 1s ease-out;
  transition: transform 1s ease-out;
}
.page {
  width: 36vw;
  height: 27vw;
  float: left;
  margin-bottom: 0.5em;
}
.page:first-child {
  float: right;
}
.page:nth-child(even) {
  clear: both;
}
.bound {
  -webkit-perspective: 250vw;
  perspective: 250vw;
}
.bound .pages {
  width: 72vw;
  height: 45.3vw;
  position: relative;
  -webkit-transform: rotateX(12deg);
  transform: rotateX(12deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 4px;

}
.bound .page {
  float: none;
  clear: none;
  margin: 0;
  position: absolute;
  top: 0;
  width: 36.05vw;
  height: 45vw;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  transition: -webkit-transform 1.4s;
  transition: transform 1.4s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.bound .page:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0);
  transition: background 0.7s;
  z-index: 2;
}
.bound .page:nth-child(odd) {
  pointer-events: all;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  right: 0;
  border-radius: 0 4px 4px 0;
}
.bound .page:nth-child(odd):hover {
  -webkit-transform: rotateY(-10deg);
  transform: rotateY(-10deg);
}
.bound .page:nth-child(odd):hover:before {
  background: rgba(0, 0, 0, 0.03);
}
.bound .page:nth-child(odd):before {
  background: rgba(0, 0, 0, 0);
}

@font-face {
  font-family: chinesetakeaway;
  src: url(chinesetakeaway.ttf);
}

@font-face {
  font-family: SofiaProLight.otf;
  src: url(sofiaprolight.otf);
}

.page a {
  position: relative;
  font-family: 'chinesetakeaway';
  background-color: #A51F2F;
  color: white;
  border: 3px solid white;
  text-decoration: none;
  z-index: 12;
  white-space: nowrap;
}

#play {
  top: 500px;
  left: 20px;
  font-size: 34px;
  padding: 16px 26px;
}

#team {
  top: 570px;
  left: 170px;
  font-size: 18px;
  padding: 5px 10px;
}

.bound .page:nth-child(even) {
  pointer-events: none;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
  left: 0;
  border-radius: 4px 0 0 4px;
}
.bound .page:nth-child(even):before {
  background: rgba(0, 0, 0, 0.2);
}
.bound .page.grabbing {
  transition: none;
}
.bound .page.flipped:nth-child(odd) {
  pointer-events: none;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.bound .page.flipped:nth-child(odd):before {
  background: rgba(0, 0, 0, 0.2);
}
.bound .page.flipped:nth-child(even) {
  pointer-events: all;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.bound .page.flipped:nth-child(even):hover {
  -webkit-transform: rotateY(10deg);
  transform: rotateY(10deg);
}
.bound .page.flipped:nth-child(even):hover:before {
  background: rgba(0, 0, 0, 0.03);
}
.bound .page.flipped:nth-child(even):before {
  background: rgba(0, 0, 0, 0);
}
*,
* :before,
*:after {
  box-sizing: border-box;
}

html,
body {
  background: url(../imgs/fond1.png) no-repeat center; 
  background-size: cover; 
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2em 0;
  line-height: 1.5em;
}
.page {
  color: transparent;
  background: left top no-repeat;
  background-size: cover;
}
.page:nth-child(3),
.page:nth-child(5),
.page:nth-child(7),
.page:nth-child(9),
.page:nth-child(11),
.page:nth-child(13),
.page:nth-child(15),
.page:nth-child(17),
.page:nth-child(19),
.page:nth-child(21){
  background-position: right top;
}
.page:nth-child(1) {
  background-image: url(../imgs/bh_cover_f.png);
  z-index: 10;
}
.page:nth-child(2),
.page:nth-child(3) {
  background-image: url(../imgs/bh_end_01.png);
  z-index: 11;
}
.page:nth-child(4),
.page:nth-child(5) {
  background-image: url(../imgs/bh_spread_00000.png);
  z-index: 12;
}
.page:nth-child(6),
.page:nth-child(7) {
  background-image: url(../imgs/bh_spread_00001.png);
  z-index: 13;
}
.page:nth-child(8),
.page:nth-child(9) {
  background-image: url(../imgs/bh_spread_00002.png);
  z-index: 14;
}
.page:nth-child(10),
.page:nth-child(11) {
  background-image: url(../imgs/bh_spread_00003.png);
  z-index: 15;
}
.page:nth-child(12),
.page:nth-child(13) {
  background-image: url(../imgs/bh_spread_00004.png);
  z-index: 16;
}
.page:nth-child(14),
.page:nth-child(15) {
  background-image: url(../imgs/bh_spread_00005.png);
  z-index: 17;
}
.page:nth-child(16),
.page:nth-child(17) {
  background-image: url(../imgs/bh_spread_00006.png);
  z-index: 18;
}

.page:nth-child(18),
.page:nth-child(19) {
  background-image: url(../imgs/bh_end_02.png);
  z-index: 19;
}


.page:nth-child(20) {
  background-image: url(../imgs/bh_cover_b.png);
  z-index: 20;

}

.swiped {
  -webkit-transform: translateX(-2000px);
          transform: translateX(-2000px);
}


/* For aligning #menu behind .book, not functioning atm */
.book {
  z-index: 1;
}

#menu {
  background-color: none;
  z-index: 1;
  position: relative;
  margin-left: -400px;
  margin-top: -100px;
<<<<<<< Updated upstream
  transition: all 1s ease-out;
  margin-bottom: 30px;
  cursor:  pointer;
  text-decoration: none;
  font-family: 'chinesetakeaway';
  font-size: 20px;
  background: none;
  color: white;


}

#menu li{
    list-style: none;
      border-style: solid;
  border-width: 5px;
  border-color: white;
  padding: 10px 5px;


}

#menu li:first-child {
  border-bottom: none;
}

.activeMode {
  color: black;
=======
  transition: all 2s ease-out;
>>>>>>> Stashed changes
}

.hiddenMenu {
  display: none;
}

#startGo{
  margin-top: 70px;
  font-family: 'chinesetakeaway';
  font-size: 35px;
  color: white;
  text-decoration: none;
  background: none;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  padding: 15px 10px;
  position: fixed;
}

#menu label{
  margin-top: 10px;
  margin-left: 65px;
}
