.book.bound
  .pages
    .page
      h1 Boyhood
      h2 by Jason Hibbs
    .page <!--endpaper-->
    .page <!--endpaper-->
    .page <!--colophon-->
    .page <!--title-->
    .page <!--01-->
    .page There was a boy<br>Who had it rough
    .page His adventure<br>Was to be tough
    .page <!--04-->
    .page <!--05-->
    .page He knew his Mother<br>Had left this land
    .page He knew his Father<br>Like the back of his hand
    .page <!--08-->
    .page There were monsters<br>He had to fight
    .page <!--10-->
    .page <!--11-->
    .page He sometimes hid<br>He never cried
    .page There was a boy<br>Who was afraid
    .page Who wore armour<br>That he had made
    .page <!--15-->
    .page There was a boy<br>Who met a girl
    .page <!--17-->
    .page He met a girl<br>Who changed his world
    .page <!--19-->
    .page Who saw the armour<br>And looked inside
    .page And inside…
    .page <!--22-->
    .page There was a boy.
    .page <!--24-->
    .page <!--endpaper-->
    .page <!--endpaper-->
    .page <!--backcover-->